.paragraph--slider_title {
    font-family  : Lexend, sans-serif;
    font-weight  : bold !important;
    font-size    : 16px;
    line-height  : 16.8px;
    color        : #1D2734;
    width        : 165px;
    height       : 17px;
    text-align   : left;
    margin-bottom: 20px !important;
    margin-top   : 20px !important;
    margin-left  : 72px;
    top          : 630px;

}

.wrapper--slider_title {
    margin-top: 20px !important;
}

.heading--second__row-title--infocard {
    width      : 234.14px;
    text-align : left;
    font-family: Lexend, sans-serif;
    font-weight: 600;
    font-size  : 16px;
    color      : #1D2734;
    line-height: 24.88px;
    padding    : 0px 0px 0px 13.82px !important;
}

.paragraph--second__row-title {
    width      : 234.14px;
    height     : 30px;
    text-align : left;
    font-family: Lexend, sans-serif;
    font-size  : 12px;
    font-weight: 300;
    line-height: 14.52px;
    padding    : 0px 0px 0px 13.82px !important;
}

.container--slider__third-row--button {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.wrapper--slider__third-row--button {
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 134px;
    height          : 43px;
    border-radius   : 40px;
    border          : solid 0.86px;
    padding         : 8px;
    gap             : 8px;
    background-color: #1D2734;
}

.link--slider__third-row--button {
    font-family    : Lexend, sans-serif;
    font-weight    : 400;
    font-size      : 12px;
    line-height    : 15px;
    color          : #fff;
    text-decoration: none;
}

.container--second__row-title {
    display    : flex;
    align-items: center;
    height     : 79.19px;
}

.container--slider__third-row--button {
    margin-bottom: 13.82px;
}

@media (max-width: 767px) {
    .paragraph--second__row-title {
        width        : 185.21px;
        height       : 11px;
        padding      : 0px 0px 0px 10.33px;
        white-space  : nowrap;
        overflow     : hidden;
        text-overflow: ellipsis;
    }

    .container--slider__third-row--button {
        width : 100%;
        height: 32px;
    }

    .wrapper--slider__third-row--button {
        height: 32px;
        width : auto;
    }

    .container--second__row-title {
        height: auto;
    }

    .heading--second__row-title {
        margin: 0px 0px 10.33px 0px;
    }

    .paragraph--second__row-title {
        margin-top: 0px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .paragraph--second__row-title {
        width        : 185.21px;
        height       : 11px;
        padding      : 0px 0px 0px 10.33px;
        white-space  : nowrap;
        overflow     : hidden;
        text-overflow: ellipsis;
    }
}
.wrapper--badge__percent--off {
    font-family: Lexend, sans-serif;
    background-color: #1D2734;
    border-radius: 4px !important;
    border: solid 1px !important;
    width: 84px;
    height: 32px;
    padding: 6px 12px 6px 12px;
    gap: 10px;
}

.paragraph--badge__percent--off {
    margin: 0PX;
    width: 60px;
    height: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}
.price__discounted {
    width: 122px;
    height: 23px;
    top: 74px;
    font:Lexend;
    font-size: 24px;
    line-height: 28.8px;
    color:#1D2734 ;

}


.paragraph--product-description-text {
    width: 212px;
    height: 51px !important;
    font-family: Lexend, sans-serif !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 16.8px;
    color: #1D2734;
    text-align: left;
    text-overflow: ellipsis;
    margin: 0px;
}