.flexCol--second__slider--container {
    background-color: #fff;
    width           : 324px;
    height          : 336.46px;
    margin          : 10px;
    border-radius: 12px 12px 0px 0px;
}

@media (max-width: 767px) {
    .flexCol--second__slider--container {
        width : 224px;
        height: 240px;
        margin: 10px;
        flex  : 0 1 auto;
    }

    .flexRowContent--second__slider--container {
        padding-left : 0 !important;
        padding-right: 0 !important;
    }

    .flexRowContent--slider__second--row {
        margin-top: 10.33px !important;
    }
}

    @media (min-width: 768px) and (max-width: 1024px) {

    .flexCol--second__slider--container {
        width : 224px;
        height: 240px;
        margin: 10px;
        flex  : 0 1 auto;
    }

    .flexRowContent--global_second--slider {
        padding-left : 0 !important;
        padding-right: 0 !important;
    }
}

.flexRowContent--global_second--slider {
    display         : flex;
    padding-left    : 80px;
    padding-right   : 80px;
}

.flexRowContent--slider__second--row {
    margin-top      : 13.80px;
}


.flexColChild--second__row--image {
    height         : 100%;
    display        : flex;
    align-items    : start;
    justify-content: center;
}