@font-face {
    font-family: 'Lexend';
    src: url('/arquivos/lexend.woff2') format('woff2'),
         url('/arquivos/lexend.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}